<!DOCTYPE HTML>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="information/fragments :: userhead">
</head>
	<body>
	<div class="container">
		<div th:replace="information/fragments :: bodyhead">
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<!-- Start Sign In Form -->
				<form th:action="@{/date/save}" id="signup-form" class="fh5co-form animate-box" method="post" data-animate-effect="fadeIn">
					<h2>Sign Up</h2>
					<div class="form-group">
						<div class="alert alert-success" role="alert">Your info has been saved.</div>
					</div>
					<div class="form-group">
						<label for="name" class="sr-only">Name</label>
						<input type="text" class="form-control" th:value="${name}" name="name" id="name" placeholder="Name" autocomplete="off">
						<p th:if="${AliveUsername}" id="AliveUsername" style="color: red">用户名已存在，请重新输入！</p>
						<p id="usernamelength" style="color:red; display: none;"></p>
					</div>
					<div class="form-group">
						<label for="email" class="sr-only">Email</label>
						<input type="email" class="form-control" th:value="${email}" name="email" id="email" placeholder="Email" autocomplete="off">
					</div>
					<div class="form-group">
						<label for="password" class="sr-only">Password</label>
						<input type="password" class="form-control" th:value="${password}" name="password" id="password" placeholder="Password" autocomplete="off">
						<p id="passwordlength" style="color:red; display: none;"></p>
					</div>
					<div class="form-group">
						<label for="re-password" class="sr-only">Re-type Password</label>
						<input type="password" class="form-control" th:value="${password}" id="re-password" placeholder="Re-type Password" autocomplete="off">
						<p id="repasswordlength" style="color:red; display: none;"></p>
					</div>
					<div class="form-group">
						<label for="remember"><input type="checkbox" id="remember"> Remember Me</label>
					</div>
					<div class="form-group">
						<p>Already registered? <a th:href="@{/information/index.html}">Sign In</a></p>
					</div>
					<div class="form-group">
						<input type="submit" value="Sign Up" class="btn btn-primary">
					</div>
				</form>
				<!-- END Sign In Form -->

			</div>
		</div>
		<div th:replace="information/fragments :: bodyfooter">
		</div>
    </div>

	<th:block th:replace="information/fragments :: scripts">
	</th:block>

	<script>
        jQuery(document).ready(function() {
            /*
                Form validation
            */
            $('#signup-form input[type="text"], #signup-form input[type="password"],input[type="email"], #signup-form textarea').on('focus', function() {
                $(this).css("border-bottom","1px solid rgba(0, 0, 0, 0.1)");
            });

            $('#signup-form').on('submit', function(e) {

                $(this).find('input[type="text"], input[type="password"], input[type="email"], textarea').each(function(){
                    if( $(this).val() == "" ) {
                        e.preventDefault();

                        $(this).css("border-bottom","1px solid rgba(203, 52, 43, 0.58)");

                        if ($("#name").val() == ""){
                            $("#usernamelength").css("display","none");
                        }
                        if ($("#password").val() == ""){
                            $("#passwordlength").css("display","none");
                        }
                        if ($("#re-password").val() == ""){
                            $("#repasswordlength").css("display","none");
						}
                    }
                    else {
                        /*$(this).removeClass('input-error');*/
                        $(this).css("border-bottom","1px solid rgba(0, 0, 0, 0.1)");
                        if ($("#name").val().length < 3 || $("#name").val().length > 10 ){
                            $("#usernamelength").css("display","none");
                            if($("#name").val().length != ""){
                                e.preventDefault();
                                $("#usernamelength").html("用户名大小在3-10之间，请重新输入！");
                                $("#usernamelength").css("display","block");
							}
                        }else{
                            $("#usernamelength").css("display","none");
                        }

                        if ($("#password").val().length < 5 || $("#password").val().length > 12 ){
                            $("#passwordlength").css("display","none");
                            if ($("#password").val() != ""){
                                e.preventDefault();
                                $("#passwordlength").html("密码大小在5-12之间，请重新输入！");
                                $("#passwordlength").css("display","block");
							}
                        }else{
                            $("#passwordlength").css("display","none");
                        }

                        if ($("#re-password").val() != $("#password").val()){
                            e.preventDefault();
                            $("#repasswordlength").html("两次密码不一致，请重新输入！");
                            $("#repasswordlength").css("display","block");
						}else{
                            $("#repasswordlength").css("display","none");
						}
                    }
                });

            });


        });
	</script>

	</body>

</html>

