<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.web.mapper.UserFriendMapper">
    <select id="GetFriendbyId" resultMap="usermap" parameterType="int">
        SELECT username FROM user WHERE id in (SELECT friend_id FROM user_friend WHERE user_id = #{id})
    </select>
    <resultMap id="usermap" type="demo.web.model.User">
        <result column="username" property="username"></result>
    </resultMap>
</mapper>